.align-panel {
	display: grid !important;
	justify-items: auto;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.align-panel>.left {
	justify-self: start;
}

.align-panel>.right {
	justify-self: end;
}