/* Text */
.t-black {
	color: #000;
}

.t-white {
	color: #fff;
}

.t-primary {
	color: var(--primary);
}

.t-secondary {
	color: #888;
}

.t-red {
	color: var(--red);
}

/* Background */
.bg-black {
	background: #000;
}

.bg-white {
	background: #fff;
}

.bg-primary {
	background: var(--primary);
}

.bg-secondary {
	background: var(--secondary);
}

.bg-tertiary {
	background: var(--tertiary);
}

.bg-red {
	background: var(--red);
}

.bg-theme {
	background: var(--theme-background);
}