.grid {
	display: grid;
	justify-items: stretch;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
}

.cols-2 {
	grid-template-columns: repeat(2, 1fr);
}

.cols-3 {
	grid-template-columns: repeat(3, 1fr);
}

.cols-4 {
	grid-template-columns: repeat(4, 1fr);
}

.cols-5 {
	grid-template-columns: repeat(5, 1fr);
}

.cols-6 {
	grid-template-columns: repeat(6, 1fr);
}

.cols-7 {
	grid-template-columns: repeat(7, 1fr);
}

.cols-8 {
	grid-template-columns: repeat(8, 1fr);
}

.cols-9 {
	grid-template-columns: repeat(9, 1fr);
}

.cols-10 {
	grid-template-columns: repeat(10, 1fr);
}

.cols-11 {
	grid-template-columns: repeat(11, 1fr);
}

.cols-12 {
	grid-template-columns: repeat(12, 1fr);
}

.cols-13 {
	grid-template-columns: repeat(13, 1fr);
}

.cols-14 {
	grid-template-columns: repeat(14, 1fr);
}

.cols-15 {
	grid-template-columns: repeat(15, 1fr);
}

.cols-16 {
	grid-template-columns: repeat(16, 1fr);
}

.grid>.col-2 {
	grid-column: span 2;
}

.grid>.col-3 {
	grid-column: span 3;
}

.grid>.col-4 {
	grid-column: span 4;
}

.grid>.col-5 {
	grid-column: span 5;
}

.grid>.col-6 {
	grid-column: span 6;
}

.grid>.col-7 {
	grid-column: span 7;
}

.grid>.col-8 {
	grid-column: span 8;
}

.grid>.col-9 {
	grid-column: span 9;
}

.grid>.col-10 {
	grid-column: span 10;
}

.grid>.col-11 {
	grid-column: span 11;
}

.grid>.col-12 {
	grid-column: span 12;
}

.grid>.col-13 {
	grid-column: span 13;
}

.grid>.col-14 {
	grid-column: span 14;
}

.grid>.col-15 {
	grid-column: span 15;
}

.grid>.col-16 {
	grid-column: span 16;
}

.grid>* {
	padding: auto;
	margin: 0;
}

.grid.gap-1 {
	grid-gap: 1em;
	padding: 0 1em;
}

@media screen and (max-width: 900px) {
	.grid.stackable {
		grid-template-columns: 1fr;
	}
}