/* Default */
.link {
	color: var(--primary);
	border: none;
	outline: none;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: 0.1s ease;
	cursor: pointer;
	background: transparent !important;
	padding: 0;
	margin: 0;
	text-decoration: none !important;
}

/* Active (down) state */
.link:active {
	opacity: 0.5;
}

/* Negative type */
.link.negative {
	color: var(--red);
}