.list {
	display: block;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: transparent;
}

.list>.item,
.list>.btn {
	display: block;
	width: 100%;
	padding: 0.7em 0;
	margin: 0;
	border-radius: 0;
}

.list>.btn:active {
	opacity: .6;
	background: transparent;
	transform: none;
}

.divided.list>.item {
	margin-bottom: 1px;
	background: transparent;
	border-top: var(--border-color) 1px solid;
}

.divided.list>.item:first-child {
	border: none;
}

.compact.list>.item {
	padding: 0 0;
}