.select {
	width: 100% !important;
	padding: 0.8em 1em;
	margin: 0;
	margin-bottom: 1em;
	border-radius: 1rem;
	border: 1px solid var(--border-color);
	background: var(--theme-background);
	outline: none;
	transition: .2s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flexbox;
	color: currentColor;
}

.select:focus {
	border-color: var(--primary);
}