.s-xxs {
	font-size: .4em;
}

.s-xs {
	font-size: .6em;
}

.s-s {
	font-size: .8em;
}

.s-m {
	font-size: 1em;
}

.s-l {
	font-size: 1.3em;
}

.s-xl {
	font-size: 1.6em;
}

.s-xxl {
	font-size: 1.9em;
}

.s-xxxl {
	font-size: 2.2em;
}

.s-xxxxl {
	font-size: 2.5em;
}