:root {
	--primary: #0075FF;
	--secondary: #E8E8E8;
	--tertiary: #F3F2F8;
	--primary-active: #0060AA;
	--secondary-active: #CCC;
	--translucent-active: #0002;
	--red: #F74035;
	--border-color: #ddd;
	--theme-background: #fff;
	--segmented-control-active: #fff;
	--primary-dimmer-color: #fffd;
	--panel-color: #fff;
	--disabled-opacity: .5;
}