:root {
	--primary: #0090FF;
	--secondary: #E9E9E9;
	--tertiary: #F3F2F8;
	--red: #F74035;
	--border-color: #eee;
	--themeBackground: #fff;
	--selectMenu-activeButtonColor: #fff;
	--primaryDimmerColor: #fff7;
	--activeButtonColor: #0002;
	--panel: #fff;
	--disabled-opacity: .5;
}